@model Model.EF.tblTinhThanh

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" style="text-align:center">
            <div class="panel-heading">
                <h3>Cập nhật thông tin tiêm chủng của mỗi tỉnh thành</h3>
            </div>
            <div class="panel-body" style="margin:50px">

                <div class="row">
                    <div class="col-lg-9">

                        @using (Html.BeginForm("Edit", "TinhThanh", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(model => model.MaTT)

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-lg-12", style="margin-left:20%">
                            <p>@Html.ValidationMessageFor(model => model.PhanBoTT, "", new { @class = "text-danger" })</p>

                            <p>@Html.ValidationMessageFor(model => model.DuKienTC, "", new { @class = "text-danger" })</p>

                            <p>@Html.ValidationMessageFor(model => model.SoLieuDaTiem, "", new { @class = "text-danger" })</p>

                            <p>@Html.ValidationMessageFor(model => model.TiLe, "", new { @class = "text-danger" })</p>

                            <p> @Html.ValidationMessageFor(model => model.DanSo, "", new { @class = "text-danger" })</p>

                        </div>

                      


                            <div class="form-group">
                                @Html.LabelFor(model => model.TinhTP, htmlAttributes: new { @class = "control-label col-md-7" })

                                @Html.TextBoxFor(model => model.TinhTP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TinhTP, "", new { @class = "text-danger" })

                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.DuKienTC, htmlAttributes: new { @class = "control-label col-md-7" })

                                @Html.TextBoxFor(model => model.DuKienTC, new { htmlAttributes = new { @class = "form-control" } })


                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PhanBoTT, htmlAttributes: new { @class = "control-label col-md-7" })

                                @Html.TextBoxFor(model => model.PhanBoTT, new { htmlAttributes = new { @class = "form-control" } })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DanSo, htmlAttributes: new { @class = "control-label col-md-7" })

                                @Html.TextBoxFor(model => model.DanSo, new { htmlAttributes = new { @class = "form-control" } })


                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SoLieuDaTiem, htmlAttributes: new { @class = "control-label col-md-7" })

                                @Html.TextBoxFor(model => model.SoLieuDaTiem, new { htmlAttributes = new { @class = "form-control" } })



                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TiLe, htmlAttributes: new { @class = "control-label col-md-7" })

                                @Html.TextBoxFor(model => model.TiLe, new { htmlAttributes = new { @class = "form-control" } })



                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10" style="margin-left:210px">
                                    <input type="submit" value="CẬP NHẬT" class="btn btn-primary" />
                                    <a href="/Admin/TinhThanh/Index" style="width:15%" class="btn btn-warning"> QUAY LẠI</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

