@model TheXanhCovid19.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

          

            <div class="form-horizontal" style="height: 570px; text-align:center">
                <h4 style="padding:30px">Đặt lại mật khẩu</h4>
                <hr />

                <div class="text-danger">
                    @ViewBag.Message

                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })



                <div class="form-group" style="margin-top:18px">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.NewPassword, new { style = "width:31em; margin-left:250px; padding:5px", @Required = true, @autofocus = "autofocus", id = "password" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-9" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { style = "width:31em; margin-left:250px; padding:5px", @Required = true, id = "confirmpassword" })
                     
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="button" style="width:8%; margin-right:18%; margin-top:2%" id="eye" value="Show" onclick="toggle()" />
                    </div>
                </div>



                <div class="form-group">
                    @Html.HiddenFor(a => a.ResetCode)
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" style="width:50%; margin-left:5%; padding:10px" value="ĐẶT LẠI MẬT KHẨU" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>

</div>


<script>
    var state = false;
    function toggle() {
        if (state) {
            document.getElementById("password").setAttribute("type", "password");
            document.getElementById("confirmpassword").setAttribute("type", "password");
            document.getElementById("eye").value = "Show";
            state = false;
        } else {
            document.getElementById("password").setAttribute("type", "text");
            document.getElementById("confirmpassword").setAttribute("type", "text");
            document.getElementById("eye").value = "Hide";
            state = true;
        }
    }

</script>


